/*
Copyright (C) Chris Park 2017
diskover is released under the Apache 2.0 license. See
LICENSE for the full license text.
 */

/* d3 dupes */

#filesizechart {
    height: 600px;
    position: absolute;
    top: 40px;
}
#filesizechart svg {
    height: 600px;
    width: 720px;
}
.bars rect {
    fill: none;
    stroke: #272B30;
    stroke-width: 1px;
    cursor: pointer;
}

.bars rect:hover {
    opacity: .8;
}

.barlabel text {
    fill: #555;
    font-size: 8px;
    text-anchor: end;
    pointer-events: none;
}

.barvaluelabel text {
    fill: gray;
    font-size: 9px;
    text-anchor: start;
    pointer-events: none;
}

path {
    stroke-width: 1px;
    stroke: #272B30;
    fill-rule: evenodd;
    cursor: pointer;
}
path:hover {
    stroke: black;
    opacity: .8;
    cursor: pointer;
}
text {
    fill: black;
    font-size: 10px;
    pointer-events: none;
}
.d3-tip {
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    word-break: break-all;
    word-wrap: break-word;
}
#dupefiles {
   width: 90%;
   height: 90%;
   top: 70px;
   left: 15px;
   position: fixed;
   display: block;
   z-index: -99;
   text-align: left;
   font-size: 12px;
   color: #ccc;
   opacity: 0.7;
}
