/*
Copyright (C) Chris Park 2017
diskover is released under the Apache 2.0 license. See
LICENSE for the full license text.
 */

/* d3 tags */

#filesizechart {
    top: 70px;
    position: relative;
}
#filesizechart svg {
    overflow: visible;
    width: 720px;
    height: 400px;
}
.bars rect {
    fill: none;
    stroke: #272B30;
    stroke-width: 1px;
    cursor: pointer;
}

.bars rect:hover {
    opacity: .8;
}

.barlabel text {
    fill: gray;
    font-size: 10px;
    text-anchor: end;
    pointer-events: none;
}

.barvaluelabel text {
    fill: lightgray;
    font-size: 10px;
    text-anchor: start;
    pointer-events: none;
}

path {
    stroke-width: 1px;
    stroke: #272B30;
    fill-rule: evenodd;
}
path:hover {
    stroke: black;
    opacity: .8;
}
text {
    fill: black;
    font-size: 10px;
    pointer-events: none;
    text-anchor: middle;
}
.d3-tip {
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    word-break: break-all;
    word-wrap: break-word;
}
