/*
Copyright (C) Chris Park 2017
diskover is released under the Apache 2.0 license. See
LICENSE for the full license text.
 */

/* d3 file tree */

.tree-wrapper
{
	float: left;
	height: 750px;
	width: 500px;
	overflow-y: scroll;
    border: 0;
}

#tree-wrapper::-webkit-scrollbar-track
{
	background-color: #060606;
}

#tree-wrapper::-webkit-scrollbar-corner
{
	background-color: #060606;
}

#tree-wrapper::-webkit-scrollbar
{
	width: 8px;
    height: 8px;
	background-color: #060606;
}

#tree-wrapper::-webkit-scrollbar-thumb
{
	background-color: #31363A;
    border-radius: 5px;
}

.selected {
    color: orange !important;
}

.node {
    font-size: 12px;
    overflow: visible;
    position: absolute;
    list-style: none;
    margin-left: 10px;
    white-space: nowrap;
    word-wrap: break-word;
    z-index: 1;
    width: 300px;
    color: lightgray;
}

.node span {
    margin-right: 3px;
}

.node .downarrow {
    font-size: 8px;
    color: darkgray;
}

.node .glyphicon-folder-close {
    padding-right: 4px;
    color: skyblue;
}

.node .glyphicon-folder-open {
    padding-right: 4px;
    color: skyblue;
}

.node .glyphicon-file {
    padding-right: 4px;
    color: lightslategray;
}

.node .filesize-red {
    color: red;
    font-size: 11px;
    padding-left: 1px;
}

.node .filesize-orange {
    color: orangered;
    font-size: 11px;
    padding-left: 1px;
}

.node .filesize-yellow {
    color: orange;
    font-size: 11px;
    padding-left: 1px;
}

.node .filesize-gray {
    color: #9DA5B4;
    font-size: 11px;
    padding-left: 1px;
}

.node .filecount {
    color: lightslategray;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
}

.node .percent-text {
    color: #9DA5B4;
    font-size: 11px;
    padding-left: 4px;
}

.node .filetree-btns {
    color: mediumpurple;
    font-size: 8px;
    padding-left: 4px;
    bottom: 1px;
    position: relative;
}

.node .percent {
    background-color: #A5060E;
    opacity: .5;
    display: inline-block;
    height: 90%;
    left: 0px;
    bottom: 2px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    border: 0px solid black;
    max-width: 300px;
}

.node .filename {
    cursor: pointer;
}

.statustext {
    font-size: 10px;
    color: gray;
    padding: 4px;
}

/* d3 pie chart */

#piechart {
    top: 20px;
    width: 100%;
    height: 400px;
    position: relative;
}

#piechart-ext {
    top: 40px;
    width: 100%;
    height: 300px;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice {
    stroke-width: 1px;
    stroke: #272B30;
    fill-rule: evenodd;
    cursor: pointer;
    opacity: .8;
}

path.slice:hover {
    stroke: black;
    opacity: .6;
}

polyline {
    opacity: .3;
    stroke: slategray;
    stroke-width: 2px;
    fill: none;
    pointer-events: none;
}

text {
    fill: gray;
    font-size: 10px;
    pointer-events: none;
}

.label {
    text-anchor: middle;
    font-weight: bold;
    font-size: 14px;
    fill: darkgray;
    opacity: .8;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.label:hover {
    fill: orange;
}

.label-percent {
    text-anchor: middle;
    font-weight: bold;
    font-size: 16px;
    fill: gray;
    opacity: .7;
}

.label-info {
    text-anchor: middle;
    font-weight: bold;
    font-size: 12px;
    fill: gray;
    opacity: .9;
}

/* d3 tool tip */

.d3-tip {
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    word-break: break-all;
    word-wrap: break-word;
}

/* d3 bar charts */

#barchart-mtime {
    top: 80px;
    width: 100%;
    height: 300px;
    position: relative;
}

#barchart-filesizes {
    top: 80px;
    width: 100%;
    height: 300px;
    position: relative;
}

.bars rect {
    fill: none;
    stroke: #272B30;
    stroke-width: 1px;
    cursor: pointer;
    opacity: .8;
}

.bars rect:hover {
    opacity: .6;
}

.barlabel text {
    fill: gray;
    font-size: 10px;
    text-anchor: end;
    pointer-events: none;
}

.barvaluelabel text {
    fill: gray;
    font-size: 10px;
    text-anchor: start;
    pointer-events: none;
}
