/*
Copyright (C) Chris Park 2017
diskover is released under the Apache 2.0 license. See
LICENSE for the full license text.
 */

/* d3 tree map */

.chart {
    display: block;
    margin-top: 10px;
}

text {
    font-size: 10px;
    fill: black;
    pointer-events: none;
}

rect {
    fill: none;
    stroke: #272B30;
    stroke-width: .5px;
    cursor: pointer;
    opacity: .8;
}

rect:hover {
    fill-opacity: .8;
    stroke: black;
    stroke-width: 1px;
}

.d3-tip {
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    word-break: break-all;
    word-wrap: break-word;
}
