/*
Copyright (C) Chris Park 2017
diskover is released under the Apache 2.0 license. See
LICENSE for the full license text.
 */

/* diskover style sheet */

.keephighlight_bg {
    background-color: #52A3BB;
}

.archivehighlight_bg {
    background-color: #65C165;
}

.deletehighlight_bg {
    background-color: #F69327;
}

.keeprow .highlight {
    color: #52A3BB !important;
    opacity: .8;
}

.keeprow .highlight a {
    color: #52A3BB !important;
}

.archiverow .highlight {
    color: #65C165 !important;
    opacity: .8;
}

.archiverow .highlight a {
    color: #65C165 !important;
}

.deleterow .highlight {
    color: #F69327 !important;
    opacity: .8;
}

.deleterow .highlight a {
    color: #F69327 !important;
}

.tagdropdown {
    opacity: 1 !important;
}

.tagdropdown a:link {
    text-decoration: none !important;
}

.tagdropdown a:visited {
    text-decoration: none !important;
}

.path {
    word-wrap: break-word;
    word-break: break-all;
}

.pathdropdown a:link {
    color: lightgray !important;
    text-decoration: none !important;
}

.pathdropdown a:visited {
    color: lightgray !important;
    text-decoration: none !important;
}

.searchresults {
    padding-left: 30px;
    padding-right: 30px;
}

.results {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
    color: gray;
}

.results tr[visible='false'], .no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

thead, tfoot {
    color: #6C9EF8;
}

.button-tagfiles {
    color: red;
}

.sortarrow-container {
    position: relative;
    top: 0;
    left: 0;
}

.sortarrow-asc {
    position: relative;
    top: -3px;
    left: 4px;
    color: #333;
    font-size: 9px;
}

.sortarrow-desc {
    position: absolute;
    top: 7px;
    left: 4px;
    color: #333;
    font-size: 9px;
}

.sortarrow-asc:hover {
    color: #D89333;
}

.sortarrow-desc:hover {
    color: #D89333;
}

.sortarrow-asc-active {
    color: #D89333;
}

.sortarrow-desc-active {
    color: #D89333;
}

.customtag {
    width: 200px;
}

textarea, select, input {
    background-color: #1C1E22!important;
    color: white!important;
}

.file-btns {
    color: #CB77DF;
}

.file-cmd-btns {
    color: #73C990;
}

tbody a {
    color: white!important;
    text-decoration: none!important;
}

tbody a:hover {
    color: white!important;
    text-decoration: underline!important;
}

.chartbox a {
    color: white!important;
    text-decoration: none!important;
}

.chartbox a:hover {
    color: white!important;
    text-decoration: underline!important;
}

.delete {
    color: #F69327;
}

.archive {
    color: #65C165;
}

.keep {
    color: #52A3BB;
}

.untagged {
    color: #666666;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #000;
   z-index: 99;
   text-align: center;
   display: none;
}

#loading-image {
  position: absolute;
  top: 49%;
  left: 49%;
  z-index: 100;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.essearchreply {
    display: none;
    position: absolute;
    height: 400px;
    z-index: 99;
    background-color: #1C1E22;
    opacity: .9;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #555;
}

.essearchreply-text {
    display: block;
    position: relative;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    line-height: 1.9em;
    height: 400px;
    width: 100%;
    overflow: hidden;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.essearchreply-text a {
    color: white!important;
}

.searchpath {
    color:gray!important;
    font-size:10px;
    line-height:0.1em!important;
}

.searchpath a {
    color:gray!important;
    font-size:10px;
    line-height:0.1em!important;
}
